body{		
        font-family: 'Pacifico', serif;
        font-size: 48px;
      
}
.footer-left{
	
	background-color:#006400;
}
.footer-right{
	float:right;
	background-color:#006400;
	
	
}
li {
    display: inline;	
	background-color:transparent;	
	
}
li a{
		color:green;
		text-decoration:none;
		margin:0px;
		text-align:center;
		background-color:white;
		padding:20px;
}

li a:hover{
	color:white;
	background-color:green;
}


